* {
    user-select: none;
}

.nav {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 102%;
    transform: translate(-8px,-10px);
    background-color: #2f2f2f;
    border-bottom: 1.5px solid #606060;
    top: 0px;
    background: rgba(0,0,0,0.6);
	position: relative;
	display: flex;
	justify-content: space-around;
}

.nav-item {
    text-align: center;
    float: left;
    font-size: 15px;
}

.nav-link {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #e1e1e1;
    -webkit-transition-duration: 0.15s; 
    transition-duration: 0.15s;
}

.red {
    color: #fd0001;
}

.nav-link:hover {
    color: #41b77b;
}

.active {
    border-bottom: 1.5px solid #41b77b;
}

.mainpageico {
    width: 35px;
    height: 35px;
    transform: translateY(-5px);
    margin-right: 3px;
    margin-bottom: -17px;
}

.bg {
    background-image: url(/assets/minecraft.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-8px,-10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

strong
{
    color: #e1e1e1;
}

.bigtitle {
    background-image: linear-gradient(60deg, #42d392, #5f8bee);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
}

.center-display {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.btn {
    border-radius: 8px;
    background-color: #2f2f2f;
    border: 4px solid #2f2f2f;
    color: #aac8e4;
    font-family: 'Consolas';
    font-size: large;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
    text-decoration: none;
}

.btn:hover
{
    background-color: #393939;
    border: 4px solid #393939;
}

.avaname *
{
    display: inline-block; 
    vertical-align: middle; 
}

.avaname
{
    margin-top: 10px;
    margin-bottom: 5px;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
    cursor: pointer;
}

.avaname:hover
{
    color: #fcc830;
    
}

.about-container
{
    border-radius: 10px; 
    background-color: #1d1e1f; 
    color: #e1e1e1; 
    padding: 50px; 
    font-size: 18px; 
    width: 200%;
    transform: translateX(-230px);
}